<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans&family=Comfortaa:wght@500&family=Josefin+Sans:ital@1&family=Montserrat:wght@500&display=swap" rel="stylesheet">





<link rel='stylesheet' href='/Content/login1.css' />

<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <section class="Form my-4 mc-5">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-5">
                    <img src="../Assets/images/login.svg" alt="" class="img-fluid">
    
                </div>
                <div class="col-lg-7 px-2 pt-2">
                    <!-- <img src="../Assets/images/logo.png" alt="" style="width: 150px; height: 150px;"> -->
                    <h1 class="font-weight-bold-py-3">Arrow Surveys</h1>
                    <h4>Login to Create Surveys</h4>
                    <form method="POST" autocomplete="off">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" class="form-control rounded-pill form-control-lg my-3 p-4"
                                name="username" placeholder="Enter username"
                                id="username" required autofocus>
                                
    
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" class="form-control rounded-pill form-control-lg  my-3 p-4"
                        name="password" placeholder="Enter password"
                        id="password" required>
                               
                                
                            </div>
                             </div>
    
                             <div class="form-row">
                                <div class="col-lg-7">
                                    
                                    <button type="submit" class="btn1 rounded-pill form-control-lg mt-3 mb-5" value="Login">Login</button>                                
                                </div>
                            </div>
                       <p>Dont have an account? <a href="/register">Register here</a></p>
                       
                    </form>
                </div>
                
            </div>
        </div>
    </section>
    

    

</main>







<section id="services">
   
    
    <%- include ../partials/footer.ejs %>
    </section>

