<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<link rel='stylesheet' href='/Content/login1.css' />
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans&family=Comfortaa:wght@500&family=Josefin+Sans:ital@1&family=Montserrat:wght@500&display=swap" rel="stylesheet">


<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>
<section class="Form my-4 mc-5">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-5">
                    <img src="../Assets/images/register.svg" alt="" class="img-fluid register-img">
    
                </div>
                <div class="col-lg-7 px-2 pt-2">
                    <!-- <img src="../Assets/images/logo.png" alt="" style="width: 150px; height: 150px;"> -->
                    <h1 class="font-weight-bold-py-3">Arrow Surveys</h1>
                    <h4>Register to Create Surveys</h4><br><br>
                    <form method="POST" autocomplete="off">
                        <div class="form-row">
                            <div class="col-lg-7">
                               

                                <label for="username">Username </label>
                    <input type="text" class="form-control rounded-pill form-control-lg my-3 p-4"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                                
    
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="col-lg-7">
                            <label for="password">Password </label>
                    <input type="password" class="form-control rounded-pill form-control-lg  my-3 p-4"
                    name="password" placeholder="Enter password"
                    id="password" required>
                                
                               
                                
                            </div>
                             </div>

                             <div class="form-row">
                            <div class="col-lg-7">
                                <label for="email">Email </label>
                    <input type="email" class="form-control rounded-pill form-control-lg my-3 p-4"
                    name="email" placeholder="Enter Email Address"
                    id="email" required>                           
                                
                            </div>
                             </div>

                             <div class="form-row">
                            <div class="col-lg-7">
                                <label for="displayName">Display Name </label>
                    <input type="text" class="form-control rounded-pill form-control-lg my-3 p-4"
                    name="displayName" placeholder="Enter Display Name"
                    id="displayName" required>                       
                                
                            </div>
                             </div>
    
                             <div class="form-row">
                                <div class="col-lg-7">
                                    
                                    <button type="submit" class="btn1 rounded-pill form-control-lg mt-3 mb-5 " value="Register">Register</button>                                
                                </div>
                            </div>
                       
                       
                    </form>
                </div>
                
            </div>
        </div>
    </section>
    

</main>


    





<section id="services">
     
    
    <%- include ../partials/footer.ejs %>
    </section>